.card {
  font-family: 'Audiowide', cursive;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 10px;
  height: 100%;
  background-color: rgba(38, 44, 140, 0.6);
  box-shadow: 0px 0px 12px 2px rgba(0, 32, 96, 0.85);
  transition: all 0.3s;
  border-radius: 10px;
}

.card:hover {
  background-color: rgba(38, 44, 140, 1);
  transform: translateY(var(--hover-translate));
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px rgba(0, 32, 96, 0.85);
  transition: all 0.2s;
}

.card:hover > .hoverContent {
  display: block;
}

.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: cover;
}

.textContainer {
  padding: 1.2vw 1.5vw;
  text-align: left;
  flex: 2;
  line-height: 2vw;
}

.title {
  font-size: 1.4vw;
}

.role {
  font-size: 1.2vw;
  color: #68eaff;
  line-height: 2.5vw;
}

.fullTime,
.partTime {
  filter: opacity(0.85);
  border-radius: 20px;
  font-size: 0.85vw;
  padding: 0.2vw 0.6vw;
  margin-left: 1vw;
  vertical-align: top;
}

.fullTime {
  background-color: rgba(104, 234, 255, 0.15);
  border: 1px solid #68eaff;
}

.partTime {
  background-color: rgba(254, 0, 254, 0.15);
  color: #fe00fe;
  border: 1px solid #fe00fe;
}

.date {
  font-size: 1vw;
  filter: opacity(0.85);
}

.hoverContent {
  text-align: left;
  position: fixed;
  display: none;
  padding: 1.5vw;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 21, 86, 0.85);
  z-index: 2;
  backdrop-filter: blur(10px);
}

.hoverContent h3 {
  font-size: 1vw;
}

.highlights {
  margin: 0.5vw 0 0 1vw;
  filter: opacity(0.8);
  line-height: 1.8vw;
  font-size: 1vw;
  list-style: none;
}

.highlights li::before {
  content: '\2192';
  color: #68eaff;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}

@media (max-width: 1199px) {
  .textContainer {
    padding: 2vw;
    line-height: 2.7vw;
  }

  .title {
    font-size: 1.6vw;
  }

  .role {
    font-size: 1.2vw;
  }

  .partTime,
  .fullTime {
    font-size: 1vw;
    padding: 0.3vw 0.8vw;
    margin-left: 1vw;
  }

  .date {
    font-size: 1.2vw;
  }

  .hoverContent {
    padding: 2vw;
  }

  .hoverContent h3 {
    font-size: 1.5vw;
  }

  .highlights {
    font-size: 1.1vw;
    line-height: 2.5vw;
  }
}
