.hexContainer {
  position: absolute;
  left: 2%;
  text-align: center;
  width: 50%;
  height: 100%;
}

.hexagon:nth-child(odd),
.hexagon:nth-child(even) {
  -webkit-animation: flickerAnimation 3s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
}

.hexagon:nth-child(1) {
  filter: opacity(0.7);
  animation-delay: 3000ms;
}

.hexagon:nth-child(2) {
  filter: opacity(0.65);
  transform: scale(0.9);
  animation-delay: 2750ms;
}

.hexagon:nth-child(3) {
  filter: opacity(0.6);
  transform: scale(0.81);
  animation-delay: 2500ms;
}

.hexagon:nth-child(4) {
  filter: opacity(0.55);
  transform: scale(0.73);
  animation-delay: 2250ms;
}

.hexagon:nth-child(5) {
  filter: opacity(0.5);
  transform: scale(0.66);
  animation-delay: 2000ms;
}

.hexagon:nth-child(6) {
  filter: opacity(0.45);
  transform: scale(0.59);
  animation-delay: 1750ms;
}

.hexagon:nth-child(7) {
  filter: opacity(0.4);
  transform: scale(0.53);
  animation-delay: 1500ms;
}

.hexagon:nth-child(8) {
  filter: opacity(0.35);
  transform: scale(0.48);
  animation-delay: 1250ms;
}

.hexagon:nth-child(9) {
  filter: opacity(0.3);
  transform: scale(0.43);
  animation-delay: 1000ms;
}

.hexagon:nth-child(10) {
  filter: opacity(0.25);
  transform: scale(0.39);
  animation-delay: 750ms;
}

.hexagon:nth-child(11) {
  filter: opacity(0.2);
  transform: scale(0.35);
  animation-delay: 500ms;
}

.hexagon:nth-child(12) {
  filter: opacity(0.15);
  transform: scale(0.31);
  animation-delay: 250ms;
}

@media (max-width: 1199px) {
  .hexContainer {
    left: 2%;
    width: 50%;
    height: 80%;
    bottom: 3%;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
