.wallContainer {
  width: var(--panel-width);
  height: var(--panel-height);
  border-radius: var(--panel-border-radius);
  border: var(--panel-border-size) solid #fe00fe;
  box-shadow: 0px 20px 45px 2px rgba(104, 234, 255, 0.4);
  z-index: 1;
}

.flip {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}

.front,
.back {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  border-radius: var(--panel-border-radius);
  height: calc(var(--panel-height) - 2 * var(--panel-border-size));
}

.bgImage {
  object-fit: cover;
  object-position: center;
}

.back {
  transform: rotateY(180deg);
}
