.main {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.bgImage {
  object-fit: cover;
  object-position: center;
}

.sub {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 0.9vw;
  filter: opacity(0.85);
}

.gitlink {
  color: #68eaff;
  transition: all 0.3s;
}

.gitlink:hover {
  filter: opacity(0.6);
  transition: all 0.3s;
}
