.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
  background-image: url('/site/background.jpg');
  background-size: cover;
  background-position: bottom;
}
